.product-card {
    position: relative;
  }

  .discount-badge {
    position: absolute;
    top: 10px;
    left: 10px; 
    background-color: #fe4c1c;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 0.9rem;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

.btn-latimes{
  margin-left: 6px;
  border-radius: 0 0 0 10px;

}

.custom-modal .modal-content {
  border-radius: 14px !important;
}


/* 2 dấu mũi tên ô input */
.form-product::-webkit-inner-spin-button,
.form-product::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-product {
  -moz-appearance: textfield;
}

/* tăng giảm số lượng  */
.quantity-selector {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 150px;
  background-color: #fff;
}

.btn-quantity {
  width: 40px;
  height: 40px;
  background: #f4f4f4;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: background 0.2s ease;
}

.btn-quantity:hover {
  background: #e0e0e0;
}

.form-quantity {
  width: 60px;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 16px;
  outline: none;
}

/* Hide spinner arrows */
.form-quantity::-webkit-inner-spin-button,
.form-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-quantity {
  -moz-appearance: textfield;
}

/* add to cart */

.btn-addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; 
  gap: 5px; 
  padding: 10px 20px;
  font-size: 16px;
}

/* giá tiền */

.wrapper-price {

  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.img-item {
  margin-bottom: 110px;
}


  