.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 999;
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  background-color: white;
  min-width: 180px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  transform: scale(0.95);
  transform-origin: top right;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
  z-index: 1;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 20px;
  margin-top: -6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgb(234, 228, 228);
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.25s ease;
  z-index: 0;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
  
}

.dropdown:hover .dropdown-content {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.dropdown:hover::after {
  opacity: 1;
  transform: scale(1);
}

.nav-item{
  font-size: 15px;
}

.nav-item:hover{
  color: #dc460b;
}

.icon-with-badge {
  position: relative;
  display: inline-block;
}

.icon-with-badge .badge {
  position: absolute;
  top: -3px;
  right: -13px;
  color: red;
  font-size: 12px;
  font-weight: bold;
}

/* Hot bộ sưu tập */

.position-relative {
  position: relative;
}

.hot-badge {
  position: absolute;
  top: -18px;
  left: 100px;
  background-color: #b71c1c;
  color: white;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 2px;
  line-height: 1;
  z-index: 10;
}

.hot-badge::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #b71c1c;
}

/* css giỏ hàng  */
.modal-content {
  overflow-y: visible;
}

/* Header top*/
.option-size {
  font-size: 14px !important;
  margin: 0px 10px !important;
  color: #ffffff !important;
}


.introduce, .language {
  font-size: 14px;
}

.option-size:hover,
.introduce:hover,
.language:hover {
  cursor: pointer !important;
  color: #dc460b !important;

}
.small-text{
  font-size: 14px;
}



